<footer class="usa-footer">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <nav class="usa-footer__nav" aria-label="Footer navigation">
      <ul class="grid-row grid-gap">
        <li
          class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content"
        >
          <a class="usa-footer__primary-link" href="/nearby">Nearby Transit</a>
        </li>
        <li
          class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content"
        >
          <a class="usa-footer__primary-link" href="/agencies">Agencies</a>
        </li>
        <li
          class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content"
        >
          <a class="usa-footer__primary-link" href="{% link pages/about.md %}"
            >About</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div
          class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2"
        >
          <div class="mobile-lg:grid-col-auto">
            <img
              class="usa-footer__logo-img"
              src="/assets/uswds/img/logo-img.png"
              alt=""
            />
          </div>
          <div class="mobile-lg:grid-col-auto">
            <p class="usa-footer__logo-heading">trnzt</p>
            <p>built by transit and data enthusiasts</p>
          </div>
        </div>
        <div class="usa-footer__contact-links mobile-lg:grid-col-6">
          <div class="usa-footer__social-links grid-row grid-gap-1">
            <div class="grid-col-auto">
              <a class="usa-social-link" href="https://github.com/trnzt"
                ><img
                  class="usa-social-link__icon"
                  src="/assets/uswds/img/usa-icons/github.svg"
                  alt="GitHub"
              /></a>
            </div>
            <div class="grid-col-auto">
              <a class="usa-social-link" href="/feed.xml"
                ><img
                  class="usa-social-link__icon"
                  src="/assets/uswds/img/usa-icons/rss_feed.svg"
                  alt="RSS"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
