<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
  <body>
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>

    {% include _header.html %}

    <main id="main-content" role="main" class="margin-bottom-9">
      {% if page.breadcrumbs %}
      <div class="usa-nav-container">
        <nav class="usa-breadcrumb" aria-label="Breadcrumbs">
          <ol class="usa-breadcrumb__list">
            <li class="usa-breadcrumb__list-item">
              <a href="{% link pages/home.html %}" class="usa-breadcrumb__link"
                ><span>Home</span></a
              >
            </li>
            {% for breadcrumbPath in page.breadcrumbs %} {% assign breadcrumb =
            site.pages | where: "path", breadcrumbPath | first %}
            <li class="usa-breadcrumb__list-item">
              <a href="{{breadcrumb.url}}" class="usa-breadcrumb__link"
                ><span>{{breadcrumb.title}}</span></a
              >
            </li>
            {% endfor %}
            <li
              class="usa-breadcrumb__list-item usa-current"
              aria-current="page"
            >
              <span>{{page.title}}</span>
            </li>
          </ol>
        </nav>
      </div>

      {% endif %} {{ content }}
    </main>

    {% include _footer.html %}

    <script src="{{ site.baseurl }}/assets/uswds/js/uswds.min.js"></script>
  </body>
</html>
